// Body resets
//
// Update the foundational and global aspects of the page.

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  color: var(--body-color);
  background-color: var(--body-bg);
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
  color: var(--link-color);

  // `:focus` is linked to `:hover` for basic accessibility
  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }

  strong {
    color: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
  margin-bottom: var(--spacer);
  border-radius: var(--border-radius);
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

td,
th {
  padding: 0;
}

table th {
  font-weight: 600;
}

table th,
table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210,18%,87%,1);
}

table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

table img {
  background-color: transparent;
}

@media (prefers-color-scheme: dark) {
  table th,
  table td {
    padding: 6px 13px;
    border: 1px solid #30363d;
  }

  table tr {
    background-color: #0d1117;
    border-top: 1px solid #21262d;
  }

  table tr:nth-child(2n) {
    background-color: #161b22;
  }
}

mark {
  padding: .15rem;
  background-color: var(--yellow-100);
  border-radius: .125rem;
}
