.blog-menu {
    display: flex;
    justify-content: space-between;

    .blog {
        font-size: 1.8em;
        font-weight: bold;
    }

    .tags {
        font-size: 1.3em;
        font-weight: bold;
    }
}

.tag {
    display: inline-block;
    background-color: rgba(26, 129, 255, 0.1);
    color: var(--highlight-color);
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9rem;
    font-weight: 500;
}
