.blog-menu {
    display: flex;
    justify-content: space-between;

    .blog {
        font-size: 1.8em;
        font-weight: bold;
    }

    .tags {
        font-size: 1.3em;
        font-weight: bold;
    }
}

.blog-list {
    list-style-type: none;
    padding: 0;
    .blog-entry {
        .title {
            font-size: 1.3em;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
        .date {
            color: var(--secondary-color);
            font-size: 0.9em;
        }
        margin-bottom: 1em;
    }
}

.post-navigator {
    button {
        font-size: 0.9em;
        &:hover {
            text-decoration: underline;
        }
    }
    margin: auto;
    padding: 1em 0 0 0;
}