.board-row {
  display: flex;
  flex-direction: row;
  border-bottom: 1vmin solid white;
}

.board-row:last-child {
  border-bottom: none;
}

.status {
  margin-bottom: 10px;
}

.square {
  width: 15vmin;
  height: 15vmin;
  background: #282c34;
  border-right: 1vmin solid white;
  text-align: center;
  font-size: calc(15vmin - 30px);
  font-weight: bold;
  color: white;
}

.square:last-child {
  border-right: none;
}


.square:focus {
  outline: none !important;
}

.kbd-navigation .square:focus {
  background: #ddd;
}